html {
  font-size: 1em;
  /*sets standard baseline font size*/
}

body {
  font-family: sans-serif;
  background: #348b9e;
  color: white;
}

h1 {
  font-size: 4em;
  border: solid 3px red;
  font-family: Orbitron, sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  border: solid 3px red;
  text-align: center;
}

.start-page-content {
  width: 30%;
  margin: 20% 35%;
}

.difficulty-option {
  border: solid 2px white;
  display: block;
  width: 25%;
  padding: 2px;
  text-decoration: none;
  color: white;
}
