html {
  font-size: 1em;
  /*sets standard baseline font size*/
}

body {
  font-family: sans-serif;
  background: #348b9e;
  color: white;
  animation-name: background-color-breathe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes background-color-breathe{
  0%   { background-color: #348b9e; }
  50%  {background-color: #266573;}
  100% { background-color: #348b9e; }
}

h1 {
  font-size: 4em;
  font-family: Orbitron, sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}

.start-page-content {
  width: 30%;
  margin: 10% 35%;
  /*-webkit-transform:;*/
  border: solid 3px gray;
  -webkit-transform: translateY(60px);
}

.difficulty-option {
  border: solid 5px white;
  display: block;
  width: 25%;
  text-decoration: none;
  color: white;
}

.easy {
  padding: 10px 90px;
  -webkit-transform: perspective(200px) rotateY(-15deg);
  margin: 30px;
}

.hard {
  padding: 10px 90px;
  margin-left: 65px;
  -webkit-transform: perspective(200px) rotateY(15deg);
}
/*Easy and hard classes styled to be tilted wedge-like "buttons"*/


/*Changes button when hovered over*/
a:hover {
  background-color: white;
  color:black;
}
