body {
  font-family: sans-serif;
  background: #3f51b5;
  color: white;
}

/*1280px= full screen on my mac*/
/*@media (min-width: 1280px){
  .card {
    width: 16.6%;
  }*/

/*iPad landscape orientation*/
/*@media (min-width: 1024px){
  .card {
  width: 20%;
}
}*/

/*Container for all cards.*/
.tile-area {
  width:98%;
  margin-right:1%;
  margin-left:1%;
  margin-bottom: 5%;
}
/*This might be redundant.*/

/*Cards - Styling for Hard Mode*/
/*.hard {
  width:98%;
  margin-right: 1%;
  margin-left: 1%;
  width:152px;
  height:152px;
}*/

/*Links game name back to difficulty selection screen on click*/
.go-back {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline;
  font-family: Orbitron, sans-serif;
  font-size: 4.5em;
  min-width: 300px;
  margin-left: 35%;

}

/*Memory Game title at top of game page*/
/*h1 {
  display: inline;
  font-family: Orbitron, sans-serif;
  text-align: center;
  font-size: 4.5em;
}*/
/*This h1 element was redundant*/

/*.game-title {
  display: inline-block;
  width: 30%;
  margin-left: 37.5%;
  margin-right: 37.5%;
}*/
/*This class was also redundant*/
/*- - - - - - - - - - - - - - - - - - - - - */

/*Life Counter and Timer*/
.hearts-and-time {
  display: block;
  padding: 10px 25px;
  margin-bottom: 40px;
}

.hearts {
  display: inline;
}

.timer {
  display: inline;
  float: right;
}
/*- - - - - - - - - - - - - - - - - - - - - */

/*Card Dimensions for Easy Mode*/
.card {
  width:205px;
  height:205px;
  background: #7986cb;
  display:block;
  transition: background 1s, -webkit-transform 1s;
  border-radius: 5%;
  color: transparent;
}

/*Styles the tiles*/
.box {
  display: inline-block;
  margin-bottom: 4px;
}

.box-easy {
  display: inline-block;
  margin-bottom: 1px;
}

/*Card Flip Animation*/
/*input:checked +.card {
   background: #7986cb;
   -webkit-transform: rotateY(180deg);
   color: white;
}*/

/*Icon appears just after flip animation*/
/*input:checked +.card .fa{
  transition-delay: 0.5s;
}*/
/*without this transition delay, the icon shows as soon as you click the card. But we are also not using the input (checkbox) being checked as the "listener" for animating the card flip*/

/*You can either change all of these classes for each diff. icon to "icon-easy" and "icon-hard", but I might*/
/*need these class names for my JavaScript portion? e.g. if(icon-class-name!=icon-class-name, heartCount-=1)*/
/*Look at my little baby Week One comments. I'm so proud of me.*/

.lose-screen {
  padding-top: 175px;
  padding-bottom: 200px;
  background-color: #348b9e;
  color: white;
  font-size: 4.5em;
  font-family: Orbitron, sans-serif;
  text-align: center;
  display: none;
}

.try-again {
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 175px;
  border: solid 5px white;
  width: 24%;
  margin-left: 38%;
  margin-right: 38%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.5em;
}

/*Icon Classes Easy Mode*/
.diamond {
  position:absolute;
  padding: 77px 75px;
}

.camera {
  position: absolute;
  padding: 80px;
}

.leaf {
  position: absolute;
  padding: 80px;
}

.key {
  position: absolute;
  padding: 80px;
}

.star {
  position: absolute;
  padding: 80px;
}

.drop {
  position: absolute;
  padding: 78px 90px;
}

.rocket {
  position: absolute;
  padding: 80px;
}

.bolt {
  position: absolute;
  padding: 80px 90px;
}

.gear {
  position: absolute;
  padding: 80px;
}


/*Icon Classes Hard Mode*/
.fort {
  display: inline-block;
  padding: 51px;
}

.anchor {
  display: inline-block;
  padding: 51px;
}

.bell {
  display: inline-block;
  padding: 51px;
}

.cake {
  display: inline-block;
  padding: 51px;
}

.bug {
  display: inline-block;
  padding: 52px;
}

.cloud {
  display: inline-block;
  padding: 51px;
}

.coffee {
  display: inline-block;
  padding: 51px;
}

.cube {
  display: inline-block;
  padding: 51px;
}

.flag {
  display: inline-block;
  padding: 51px;
}

.soccer {
  display: inline-block;
  padding: 51px;
}

.gamepad {
  display: inline-block;
  padding: 51px;
}

.home {
  display: inline-block;
  padding: 52px;
}

.magic {
  display: inline-block;
  padding: 53px;
}

.plane {
  display: inline-block;
  padding: 51px;
}

.tree {
  display: inline-block;
  padding: 51px 54px;
}

.sun {
  display: inline-block;
  padding: 51px;
}
