/*stylesheet for memory game!*/

html {
  font-size: 1em;
  /*sets standard baseline font size*/
}

body {
  font-family: sans-serif;
  background: #3f51b5;
  color: white;
}

h1 {
  font-family: Orbitron, sans-serif;
  text-align: center;
  border: solid 1px red;
  margin: 30px 0px;
}


/*.game-name {
  padding: 5px;
  border: solid 5px gray;
  margin: 30px 200px;
  font-size: 4em;
}

.game-text {
  display: inline;
  padding: 5px;
  border: 2px solid gray;
  width: 35%
}*/

.hearts-and-time {
  display: inline;
  padding: 10px;
  border: 2px solid gray;
  margin: 40px 30px;
}

.hearts {
  display: inline;
  padding: 5px;
  border: solid 2px gray;
  margin: 20px 460px 100px 5px;
}

.timer {
  display: inline;
  padding: 5px;
  border: solid 2px gray;
  margin: 20px 5px 5px 470px;
}

.all-tiles {
  /*padding: 5px;*/
  border: solid 2px gray;
  margin: 30px;
  height: 600px;
}


.tile-row-1 {
  padding: 80px 0px;
  border: solid 2px purple;
  margin: 10px;
}

.tile-row-2 {
  padding: 80px 0px;
  border: solid 2px purple;
  margin: 10px;
}

.tile-row-3 {
  padding: 80px 0px;
  border: solid 2px purple;
  margin: 10px;
}

.tile {
  display: inline;
  background: #7986cb;
  border-radius: 0.5em;
  padding: 80px;
  /*border: solid 2px gray;*/
  margin: 1px;
}
